h1 {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;

	margin: 0;
}

h2,
.button {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;

	display: inline-block;
}

p {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}

a {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;

	color: rgba(43, 44, 48, 0.5);
}

input {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
}

input::placeholder {
	color: rgba(43, 44, 48, 0.5);
}

@media screen and (max-width: #{$size * 47}) {
	h1 {
		font-size: 20px !important;
		line-height: 24px !important;
	}

	h2,
	.button {
		font-size: 16px !important;
		line-height: 20px !important;
	}

	p {
		font-size: 12px !important;
		line-height: 15px !important;
	}

	a {
		font-size: 10px !important;
		line-height: 12px !important;
	}

	input {
		font-size: 12px !important;
		line-height: 15px !important;
	}
}
